{% extends "base.html" %}
{% load static %}

<!-- Content Block -->
{% block content %}

    <div class="container px-4 px-lg-5 py-5">
        <div class="row mb-4">
            <div class="col text-center">
                <h1 class="display-6">Add a Product Review</h1>
                <hr class="mb-4">
                <h5 class="text-muted">{{ product.name }}</h5>
            </div>
        </div>

        <!-- Add Product Review Form -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="card border border-white-subtle bg-body-tertiary rounded-3 shadow">
                    <div class="card-body">
                        <form method="POST" action="{% url 'add_review' product.id %}" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}

                            <!-- Action Buttons-->
                            <div class="text-end mt-4">
                                <!-- Cancel Button -->
                                <a class="btn btn-outline-dark" href="{% url 'reviews' %}" aria-label="Cancel and return to review list">
                                    <span class="me-2"><i class="fas fa-times"></i></span>Cancel
                                </a>
                                <!-- Add Product Review Button -->
                                <button class="btn btn-dark" type="submit" aria-label="Submit review">
                                    <span class="me-2"><i class="fas fa-plus"></i></span>Add Review
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    
{% endblock %}