{% extends "base.html" %}
{% load static %}

<!-- Extra CSS Block -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">

        <!-- Header -->
        <header class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="display-6 text-center" id="add-product-review-title">Add a Product Review</h1>
                <h2 class="text-muted text-center small">{{ product.name }}</h2>
                <hr class="mb-4" aria-hidden="true">
            </div>
        </header>

        <!-- Add Product Review Section -->
        <section class="row justify-content-center" aria-labelledby="add-product-review-section-title">
            <div class="col-12 col-lg-8">
                <div class="card no-hover border border-white-subtle bg-body-tertiary rounded-3 shadow">
                    <div class="card-body">
                        <form method="POST" action="{% url 'add_review' product.id %}" class="form" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Review Title Field -->
                            <div class="form-group mb-3">
                                <label for="{{ form.title.id_for_label }}" id="review-title-label">Title</label>
                                {{ form.title }}
                            </div>

                            <!-- Review Rating Field -->
                            <!-- The star rating has been adapted from CSS-Tricks' "Star Rating Widget" tutorial https://css-tricks.com/star-ratings/ -->
                            <div class="form-group mb-3">
                                <label id="rating-group-label">Rating</label>
                                <div class="star-rating-container" role="group" aria-labelledby="rating-group-label">
                                    {% for radio in form.rating reversed %}
                                        <div class="star-option">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="star-label" 
                                                    aria-label="{{ radio.choice_label }} star{% if radio.choice_label != '1' %}s{% endif %}"
                                                    title="{{ radio.choice_label }} star{% if radio.choice_label != '1' %}s{% endif %}">
                                                <i class="fas fa-star" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <!-- Review Comment Field -->
                            <div class="form-group mb-3">
                                <label for="{{ form.review_comment.id_for_label }}" id="review-comment-label">Comment</label>
                                {{ form.review_comment }}
                            </div>

                            <!-- Action Buttons-->
                            <div class="text-end mt-4">
                                <!-- Cancel Button -->
                                <a class="btn btn-outline-dark" href="{% url 'reviews' %}" aria-label="Cancel and return to review list">
                                    <span class="me-2"><i class="fas fa-times"></i></span>Cancel
                                </a>
                                
                                <!-- Add Product Review Button -->
                                <button class="btn btn-dark" type="submit" aria-label="Submit your review review">
                                    <span class="me-2"><i class="fas fa-plus"></i></span>Add Review
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </section>
    </div> 
{% endblock %}

<!-- Post-Load JS Block -->
{% block postload_js %}
    {{ block.super }}
    <!-- Star Rating JS -->
    <script src="{% static 'reviews/js/star_rating.js' %}"></script>
{% endblock %}