{% extends "base.html" %}
{% load static %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">

        <!-- Header -->
        <header class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="display-6 text-center" id="home-title">Welcome to the Home Page</h1>
                <hr aria-hidden="true">
            </div>
        </header>

        <!-- Main Content Section -->
        <section class="row" aria-labelledby="home-section-title">
            <div class="col-12">
                <p class="lead mb-3 text-center">This is the home page.</p>
            </div>
        </section>
    </div>
{% endblock %}