
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container px-4 px-lg-5 py-5">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6 text-center">Manage Orders</h1>
                <hr>
                
                <!-- Back to Dashboard link -->
                <div class="mb-4">
                    <a href="{% url 'store_management' %}" class="btn btn-outline-dark">
                        <i class="fas fa-chevron-left"></i> Back to Dashboard
                    </a>
                </div>

                <!-- Orders Table -->
                {% if orders %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Total</th>
                                    <th>Order Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.order_number }}</td>
                                        <td>{{ order.date|date:"d M Y" }}</td>
                                        <td>{{ order.full_name }}</td>
                                        <td>€ {{ order.grand_total }}</td>
                                        <td>Order received</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5 text-center">No orders found.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
