{% extends "base.html" %}
{% load static %}

<!-- Page Title -->
{% block extra_title %} | Manage Subscribers{% endblock %}

<!-- Don't show Banner -->
{% block banner %}{% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">

        <!-- Header -->
        <header class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="display-6 text-center" id="manage-subscribers-title">Manage Subscribers</h1>
                <hr aria-hidden="true">
            </div>
        </header>

        <!-- Manage Subscribers Section -->
        <section class="row" aria-labelledby="manage-subscribers-section-title">
            <div class="col-12">
                
                <!-- Back to Dashboard Button -->
                {% include 'about/includes/back_to_dashboard_button.html' %}

                <!-- Subscribers Table -->
                <div class="card no-hover">
                    <div class="card-header">
                        <h2 class="h5 mb-0">Subscribers</h2>
                    </div>
                    <div class="card-body">
                        {% if subscribers %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>Emai Address</th>
                                            <th>Subscription Date</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for subscriber in subscribers %}
                                            <tr>
                                                <td>{{ subscriber.email }}</td>
                                                <td>{{ subscriber.date_subscribed }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p class="lead mb-5 text-center">No subscribers found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

