{% extends "base.html" %}
{% load static %}

<!-- Extra CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

<!-- Page Title -->
{% block extra_title %} | Store Management{% endblock %}

<!-- Don't show Banner -->
{% block banner %}{% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">

        <!-- Header -->
        <header class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="display-6 text-center" id="store-management-title">Store Management</h1>
                <hr aria-hidden="true">
            </div>
        </header>

        <!-- Store Management Sectio -->
        <section class="row mt-2" aria-labelledby="store-management-section-title">

           <!-- Dashboard Summary -->
            <div class="row mb-5" aria-labelledby="dashboard-summary-title">
                <!-- Product Count -->
                <div class="col-md-3 mb-4">
                    <a href="{% url 'manage_products' %}" class="text-decoration-none" aria-label="Manage Products - {{ product_count }} products">
                        <div class="card text-center h-100 border-dark">
                            <div class="card-body">
                                <h3 class="card-title">{{ product_count }}</h3>
                                <p class="card-text">Products</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Subscriber Count -->
                <div class="col-md-3 mb-4">
                    <a href="{% url 'manage_subscribers' %}" class="text-decoration-none" aria-label="Manage Subscribers - {{ subscriber_count }} subscribers">
                        <div class="card text-center h-100 border-dark">
                            <div class="card-body">
                                <h3 class="card-title">{{ subscriber_count }}</h3>
                                <p class="card-text">Subscribers</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Review Count -->
                <div class="col-md-3 mb-4">
                    <a href="{% url 'manage_reviews' %}" class="text-decoration-none" aria-label="Manage Reviews - {{ review_count }} reviews">
                        <div class="card text-center h-100 border-dark">
                            <div class="card-body">
                                <h3 class="card-title">{{ review_count }}</h3>
                                <p class="card-text">Reviews</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Order Count -->
                <div class="col-md-3 mb-4">
                    <a href="{% url 'manage_orders' %}" class="text-decoration-none" aria-label="Manage Orders - {{ orders_count }} orders">
                        <div class="card text-center h-100 border-dark">
                            <div class="card-body">
                                <h3 class="card-title">{{ orders_count }}</h3>
                                <p class="card-text">Orders</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Contact Count -->
                <div class="col-md-3 mb-4">
                    <a href="{% url 'manage_contacts' %}" class="text-decoration-none" aria-label="Manage Contacts - {{ contact_count }} contacts">
                        <div class="card text-center h-100 border-dark">
                            <div class="card-body">
                                <h3 class="card-title">{{ contact_count }}</h3>
                                <p class="card-text">Contacts</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Baker Count -->
                <div class="col-md-3 mb-4">
                    <a href="{% url 'manage_bakers' %}" class="text-decoration-none" aria-label="Manage Bakers - {{ baker_count }} bakers">
                        <div class="card text-center h-100 border-dark">
                            <div class="card-body">
                                <h3 class="card-title">{{ baker_count }}</h3>
                                <p class="card-text">Bakers</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <!-- Dashboard Actions -->
            <div class="row" aria-labelledby="dashboard-actions-title">
                <!-- Products Management -->
                <div class="col-md-6 mb-4">
                    <div class="card no-hover h-100 border-dark">
                        <div class="card-header bg-dark text-white">
                            <h3 class="h5 mb-0">Products</h3>
                        </div>
                        <div class="card-body">
                            <p>Manage product inventory, categories, and occasions.</p>
                            <ul class="list-unstyled">
                                <li class="py-1 border-bottom"><a href="{% url 'add_product' %}" class="store-management-link" aira-label="Add a new product">Add New Product</a></li>
                                <li class="py-1"><a href="{% url 'manage_products' %}" class="store-management-link" aria-label="Manage products">Manage Products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Reviews Management -->
                <div class="col-md-6 mb-4">
                    <div class="card no-hover h-100 border-dark">
                        <div class="card-header bg-dark text-white">
                            <h4 class="h5 mb-0">Ratings & Reviews</h4>
                        </div>
                        <div class="card-body">
                            <p>Manage product reviews and ratings.</p>
                            <ul class="list-unstyled">
                                <li class="py-1"><a href="{% url 'manage_reviews' %}" class="store-management-link" aria-label="Manage reviews">Manage Reviews</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Customer Management -->
                <div class="col-md-6 mb-4">
                    <div class="card no-hover h-100 border-dark">
                        <div class="card-header bg-dark text-white">
                            <h4 class="h5 mb-0">Customers</h4>
                        </div>
                        <div class="card-body">
                            <p>Manage newsletter subscribers, customer contacts, and orders.</p>
                            <ul class="list-unstyled">
                                <li class="py-1 border-bottom"><a href="{% url 'manage_subscribers' %}" class="store-management-link" aria-label="Manage subscribers">Manage Subscribers</a></li>
                                <li class="py-1 border-bottom"><a href="{% url 'manage_orders' %}" class="store-management-link" aria-label="Manage orders">Manage Orders</a></li>
                                <li class="py-1"><a href="{% url 'manage_contacts' %}" class="store-management-link" aria-label="Manage contacts">Manage Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Content Management -->
                <div class="col-md-6 mb-4">
                    <div class="card no-hover h-100 border-dark">
                        <div class="card-header bg-dark text-white">
                            <h4 class="h5 mb-0">Content</h4>
                        </div>
                        <div class="card-body">
                            <p>Update website content including About content. allergen information, and privacy policy.</p>
                            <ul class="list-unstyled">
                                <li class="py-1 border-bottom"><a href="{% url 'edit_about' %}" class="store-management-link" aria-label="Manage about content">Manage About Content</a></li>
                                <li class="py-1 border-bottom"><a href="{% url 'manage_bakers' %}" class="store-management-link" aria-label="Manage baker profiles">Manage Baker Profiles</a></li>
                                <li class="py-1 border-bottom"><a href="{% url 'manage_faq' %}" class="store-management-link" aria-label="Manage faq content">Manage FAQ Contents</a></li>
                                <li class="py-1 border-bottom"><a href="{% url 'edit_privacy_policy' %}" class="store-management-link" aria-label="Manage privacy policy">Manage Privacy Policy</a></li>
                                <li class="py-1"><a href="{% url 'edit_allergen_info' %}" class="store-management-link" aria-label="Manage allergen information">Manage Allergen Information</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}