<script type="text/javascript">
    // Show message when quantity 5 is selected
    function handleQtyMessage(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        if (currentValue === 5) {
            $(`#qty_message_${itemId}`).show();
        } else {
            $(`#qty_message_${itemId}`).hide();
        }
    }

    // Check for all quantity inputs on page load
    var allQtyInputs = $('.form-select');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleQtyMessage(itemId);
    }

    // Show/hide error message when dropdown selection changes
    $('.form-select').change(function() {
        var selectedValue = $(this).val();
        var itemId = $(this).data('item_id');
        var errorMessage = $(`#qty_message_${itemId}`);
        
        if (selectedValue === '5') {
            errorMessage.show();
        } else {
            errorMessage.hide();
        }
    });
</script>