{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

<!-- Page Title -->
{% block extra_title %} | Sign Out{% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">
        <!-- Header -->
        <header class="row mb-4">
            <div class="col text-center">
                <h1 class="display-6" id="logout-title">Sign Out</h1>
                <hr class="mb-4" aria-hidden="true">
            </div>
        </header>

        <!-- Logout Form Section -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card no-hover border border-white-subtle bg-body-tertiary rounded-3 shadow">
                    <div class="card-body p-3 p-md-4">
                        <!-- Confirmation Message -->
                        <p class="text-center mb-4">
                            {% trans 'Are you sure you want to sign out?' %}
                        </p>

                        <!-- Logout Form -->
                        {% url 'account_logout' as action_url %}
                        <form method="post" action="{{ action_url }}" class="logout">
                            {% csrf_token %}
                            {{ redirect_field }}

                            <!-- Submit Button -->
                            <div class="text-center mt-4">
                                <div class="col-md-6 mx-auto">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-dark" aria-label="Confirm sign out">
                                            {% trans "Sign Out" %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}