{% extends "base.html" %}
{% load static %}

<!-- Extra CSS Block -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="display-6 text-center">About Us</h1>
                <hr>
            </div>
        </div>

        <!-- About Section -->
        <div class="row">
            <div class="col-12 position-relative">
                <h2 class="text-center mb-4">{{ about.title }}</h2>
                <div class="about-content mb-5 text-center">
                    {{ about.content|safe }}
                </div>
        </div>

        <!-- Baker Profiles section -->
        {% if bakers %}
            <div class="row">
                <hr class="w-50 mx-auto mb-5">
                <div class="col-12">
                    <h2 class="text-center mb-4">Meet Our Bakers</h2>
                </div>
            </div>
            
            <!-- Baker Cards -->
            <div class="row">
                {% for baker in bakers %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="baker-profile">
                        <div class="baker-image-container">
                            {% if baker.photo %}
                                <img src="{{ baker.photo.url }}" class="baker-image" alt="{{ baker.name }}">
                            {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" class="baker-image" alt="{{ baker.name }} - no image available">
                            {% endif %}
                        </div>
                        <div class="text-center mt-4">
                            <h3 class="baker-name">{{ baker.name }}</h3>
                            <p class="baker-title">{{ baker.title }}</p>
                            <div class="baker-bio">{{ baker.bio|safe }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
