{% extends "base.html" %}
{% load static %}

<!-- Extra CSS Block -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

<!-- Extra JS Block -->
{% block extra_js %}
    {{ form.media }}
{% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">

        <!-- Header -->
        <header class="row mb-4">
            <div class="col text-center">
                <h1 class="display-6" id="add-faq-title">Add a FAQ</h1>
                <hr class="mb-4" aria-hidden="true">
            </div>
        </header>

        <!-- Back to Dashboard link -->
        <div class="mb-4">
            <a href="{% url 'store_management' %}" class="btn btn-outline-dark" aria-label="Return to dashboard">
                <i class="fas fa-chevron-left me-2" aria-hidden="true"></i>Back to Dashboard
            </a>
        </div>

        <!-- Form, rendered by crispy forms -->
        <section class="row justify-content-center" aria-labelledby="add-faq-title">
            <div class="col-12 col-lg-8">
                <div class="card border border-white-subtle bg-body-tertiary rounded-3 shadow">
                    <div class="card-body">
                        <form method="POST" action="{% url 'add_faq' %}" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}

                            <!-- Action Buttons-->
                            <div class="text-end mt-4">
                                <!-- Cancel -->
                                <a class="btn btn-outline-dark" href="{% url 'store_management' %}" aria-label="Cancel and return to store management">
                                    <span class="me-2" aria-hidden="true"><i class="fas fa-times"></i></span>Cancel
                                </a>
                                <!-- Save -->
                                <button class="btn btn-dark" type="submit" aria-label="Confirm and save changes">
                                    <span class="me-2" aria-hidden="true"><i class="fa-solid fa-pen-to-square"></i></span>Save Changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}