{% extends "base.html" %}
{% load static %}
{% load clean_html %}

<!-- Extra CSS Block -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

<!-- Page Title -->
{% block extra_title %} | Allergen Information {% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">

        <!-- Header -->
        <header class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="display-6 text-center" id="allergen-info-title">{{ allergen_info.title }}</h1>
                <hr aria-hidden="true">
            </div>
        </header>

        <!-- Allergen Information Section -->   
        <section class="row justify-content-center" aria-label="Allergen Information Section">
            <div class="col-12 col-md-10 offset-md-1 mb-5">
                <div class="content-container p-3">
                    <span id="allergen-info-details" class="visually-hidden">Allergen Information Details</span>
                    {{ allergen_info.content|clean_html_content|safe }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
