{% extends "base.html" %}
{% load static %}
{% load clean_html %}

<!-- Extra CSS Block -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

<!-- Page Title -->
{% block extra_title %} | Privacy Policy{% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">

        <!-- Header-->
        <header class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="display-6 text-center" id="privacy-policy-title">{{ policy.title }}</h1>
                <hr aria-hidden="true">
            </div>
        </header>

        <!-- Privacy Policy Section -->   
        <section class="row justify-content-center" aria-label="Privacy Policy Section">
            <div class="col-12 col-md-10 offset-md-1 mb-5">
                <div class="content-container p-3" aria-labelledby="privacy-policy-title">
                    <span id="privacy-policy-details" class="visually-hidden">Privacy Policy Details</span>
                    {{ policy.content|clean_html_content|safe }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}