{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Content Block -->
{% block content %}
    <div class="container px-4 px-lg-5 py-5">

        <!-- Header -->
        <header class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="display-6 text-center" id="contact-title">Contact Us</h1>
                <hr class="mb-4" aria-hidden="true">
            </div>
        </header>

        <!-- Contact Section -->
        <section class="row" aria-labelledby="contact-section-title">
            <div class="col-12 col-md-6 mb-4">
                <p class="lead mb-3">We'd love to hear from you!<br>Fill out the form or reach out at the information below and we'll get back to you as soon as possible.<br></p>
                
                <!-- Contact Information -->
                <div class="mt-4">
                    <h5 class="text-uppercase mb-3">Our Information</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <i class="fas fa-home me-2" aria-hidden="true"></i>
                            <span><a href="https://www.google.com/maps/place/Cork,+Ireland" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none" aria-label="Our location in Cork, Ireland - opens Google Maps in a new tab">
                                Cork, Ireland
                            </a></span>
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-envelope me-2" aria-hidden="true"></i>
                            <span><a href="mailto:bakemehappy.email@gmail.com" class="text-reset text-decoration-none" aria-label="Email us at bakemehappy.email@gmail.com - opens your default email client with our email address pre-filled">
                                bakemehappy.email@gmail.com
                            </a></span>
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-phone me-2" aria-hidden="true"></i>
                            <span><a href="tel:+35383123456" class="text-reset text-decoration-none" aria-label="Call us at plus 353 83 123 45 67 - opens your default phone app with our phone number pre-filled">
                                + (353) 83 123 45 67
                            </a></span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Contact Form -->
            <div class="col-12 col-md-6">
                <div class="card no-hover border border-white-subtle bg-body-tertiary rounded-3 shadow">
                    <div class="card-body p-4">
                        <h5 class="card-title mb-3">Get in touch</h5>
                        <form method="POST" action="{% url 'contact' %}" class="form" aria-label="Contact form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-end mt-4">
                                <button type="submit" class="btn btn-dark" aria-label="Submit and send your message" >Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

<!-- Postload JS -->
 <!-- Postload JS -->
{% block postloadjs %}
{{ block.super }}
    <!-- County Field JS -->
    <script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}
