<div class="text-end mt-4">
    <!-- Cancel -->
    <a class="btn btn-outline-dark" href="{% url 'store_management' %}" aria-label="Cancel and return to store management">
        <span class="me-2" aria-hidden="true"><i class="fas fa-times"></i></span>Cancel
    </a>
    <!-- Save -->
    <button class="btn btn-dark" type="submit" aria-label="Confirm and save changes">
        <span class="me-2" aria-hidden="true"><i class="fa-solid fa-pen-to-square"></i></span>Save Changes
    </button>
</div>