{% extends "base.html" %}
{% load static %}

<!-- Content Block -->
{% block content %}

    <!-- Products -->
    <!-- The product view has been adapted from Startbootstrap - Shop Homepage -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- Product Cards, created using a for loop -->
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale Badge (if available) -->
                            {% if product.on_sale %}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            {% endif %}
                            <!-- Product Image or Placeholder -->
                            {% if product.image_url %}
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                            {% else %}
                                <img class="card-img-top" src="{{ MEDIA_URL }}placeholder.png" alt="{{ product.name }}" />
                            {% endif %}
                            <!-- Product Details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% for i in "12345" %}
                                        <div class="bi-star-fill"></div>
                                        {% endfor %}
                                    </div>
                                    € {{ product.price }}
                                </div>
                            </div>
                            <!-- Product Actions -->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-outline-dark mt-auto me-2" href="#">Add to Basket</a>
                                    <a class="btn btn-outline-dark mt-auto" href="#">Add to Favorites</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal rule between rows, depending on screen size -->
                    <!-- The horizontal rule has been adapted from Code Institute's "Boutique Ado" project -->
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}